<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COATSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/round"
        android:label="Tools"
        android:roundIcon="@drawable/round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度api-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XXiUWADUfiFGyLtOBoxNFXygCayp08P0"/>
        <!---->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 主活动 -->
        <activity android:name=".MainActivity"/>
        <!-- 计算器 -->
        <activity
            android:name=".CounterActivity"
            android:theme="@style/Counter" />
        <!-- 返回键 -->
        <!-- 启动界面 -->
        <activity
            android:name=".UI.StartActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 相机 -->
        </activity>
        <!-- 通知 -->
        <activity
            android:name=".NotificationActivity"
            android:label="通知"
            android:theme="@style/NoActionBar" />
        <!-- 网络 -->
        <!-- 二维码 -->
        <activity
            android:name=".QRCodeActivity"
            android:label="二维码"
            android:theme="@style/NoTitleTranslucentTheme" />
        <!-- 天气 -->
        <activity
            android:name=".Weather.WeatherActivity"
            android:theme="@style/NoActionBar" />
        <!--课程表-->
        <activity android:name=".CourseTablePackage.CourseTable"
            android:theme="@style/NoActionBar">
        </activity>
        <!--百度地图-->
        <activity android:name=".MapActivity"
            android:label="地图"
            android:theme="@style/NoActionBar">
        </activity>
        <!--百度服务-->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!---->
    </application>
</manifest>